requests==2.32.3
pinecone==6.0.1
python-dotenv==1.0.1
tiktoken==0.9.0
streamlit==1.43.0
weaviate-client==4.11.1
atlassian-python-api==3.41.3
pytesseract==0.3.10
Pillow==10.4.0
reportlab==4.0.5
svglib==1.5.1
langchain==0.3.20
openai==1.65.4
langchain-openai==0.3.7  # For ChatOpenAI and OpenAIEmbeddings
langchain-weaviate==0.0.4  # For WeaviateVectorStore
langchain-community==0.3.1